# Snaps cannot be built inside docker containers since snap requires systemd

services:
  rust-gtk-appimage:
    build:
      dockerfile: ./appimage.Dockerfile
    volumes:
      - ../:/mnt:z
#    command: /bin/bash -c "cargo appimage"
    command: tail -f /dev/null